@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
html {
	position: relative;
	min-height: 100%;
}
body {
	display: table;
    width: 100%;
	margin-bottom: 60px;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	min-width: 500px;
	font-family: 'Lato', sans-serif;
}
body::after {
	background-size: 100% 100%;
	content: "";
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
.page-row {
	display: table-row;
}
nav {
	padding: 5px 10px;
	overflow: hidden;
	border-bottom: 4px solid #FF6633;
	position: relative;
	z-index: 1;
}
nav h2 {
	display: inline;
	overflow: hidden;
	margin-right: 1em;
	vertical-align: middle;
}
#leftSideNavbar {
	display: inline;
	float: right;
	line-height: 28px;
}
#leftSideNavbar  button {
	display: inline-block;
	margin: 0 10px;
	position: relative;
	background: none;
}
button {
	width: auto;
	overflow: visible;	
}
header {
	width: 50%;
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 30px 0 0;
	position: relative;
}
.innerHeader {
	display: inline-block;
	position: relative;
	font-style: normal;
	font-weight: 300;
}
.level {
	list-style: none;
	display: inline;
	letter-spacing: 1px;
}
.level li {
	display: inline-block;
	width: 100px;
	border-radius: 100px;
	border: solid 1px black;
	padding: 10px;
}
.counter {
	width: 40%;
	max-width: 350px;
	min-width: 50px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	position: relative;
}
.counter div {
	display: inline-block;
}
.innerSection {
	display: inline-block;
	width: 50;
	max-width: 350px;
	min-width: 200px;
	position: relative;
}
.slider {
	position: relative;
	width: 840px;
	height: 596px;
	overflow: hidden;
	margin: 30px auto;
}
.slider h3 {
	text-align: center;
	margin-bottom: 30px;
}
.puzzle_img {
	width: 840px;
	height: 540px;
}
.game-field {
	display: flex;
	flex-wrap: wrap;
	margin: 30px auto;
	width: 840px;
	height: 540px;
	-moz-user-select: none;
	overflow: hidden;
}
.puzzle-card {
	display: inline-block;
	border: none;
}
nav a {
	text-decoration: none;
	color: black;
}
nav a:hover {
    text-decoration: none;
    color: #FF6633;
}
.game-field div {
	display: inline-block;
}
footer {
	position: absolute;	
  	/*padding-top: 60px;*/
  	bottom: 0;
	width: 100%;
	height: 60px;
  	font-size: 75%;
}
.glyphicon {
    font-size: 30px;
}
#prev {
	position: absolute;
	top: 16px;
	left: 250px;
}
#next {
	position: absolute;
	top: 15px;
	right: 250px;
}
.button--icon {
	color: #FF6633;
}
.button--icon:hover, .button--icon:active  {
	color:  #FF6633;
}
.button--icon:focus{
	color:  #FF6633;
}

.button {
    display: inline-block;
    width: 100px;
    border-radius: 100px;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
}
.button:hover, .button:focus {
    background-color: #f1f1f1;
    color: #000;
    text-decoration: none;
    outline: none;
}
.button:active {
    background-color: #e1e1e1;
    color: #000;
}
.button--small {
    padding: 5px;
}
.bigform-content {
   	margin: 200px;
    overflow: hidden;
    padding:20px;
    position:relative;

}
.modal, .modal-backdrop {
    position: absolute !important;
}
.bigform-content h1 {
    margin:0;
}
.bigform-content input[type=submit] {
    margin-top:10px;
}
.stat {
	margin: 120px auto;
	width: 840px;
	height: 540px;
}
.moves {
	margin-left: 50px;
}
.stat li {
	display: block;
	list-style-type:none;
	height: 35px;
    font-weight: 300;
    padding: 5px;
}
tbody tr:nth-child(odd) {
	background-color: rgb(255, 239, 234);
}
tbody tr:nth-child(even) {
	background-color: rgb(255,193,173);
}
.stat ul {
}
.squareStat {
	margin: 0 auto;
	display: inline-block;
}
.dragging {
	z-index: 1000;
}
.titleStatistic {
	margin: 35px auto;
}
table {
	width: 100%;	
}
table,td,th {	
}
th {
    height: 40px;
}
th,td {
	padding: 15px;
	border-bottom: 1px solid #ddd;
}
tbody tr:hover {
	background-color: #f5f5f5
}
@media screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
	}
	tr { 
		border: 1px solid #ccc; 
	}
		
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 20%; 
	}
	td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 25%; 
			padding-right: 5px; 
			white-space: nowrap;
	}
	td:nth-of-type(1):before { content: attr(data-th); }
		td:nth-of-type(2):before { content: attr(data-th); }
		td:nth-of-type(3):before { content: attr(data-th); }
		td:nth-of-type(4):before { content: attr(data-th); }
		td:nth-of-type(5):before { content: attr(data-th); }
}

/*@media screen and (max-width: 800px) {
  tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }
}*/